@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');

.main {
  margin:20px;
}

.card-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.responsive-image {
  width: auto;
  height: auto;
}
